*, *::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
  }
body {
	display: flex;
	flex-direction: column;
}

header {
	width: 100vw;
  display: flex;
	justify-content: flex-start;
  text-transform: uppercase;
}

header span {
  color: teal;
  }

.banner {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

main {
	width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p {
  margin: 0 140px 0 140px;
  width: 200px;
  font-size: 20px;
  background-color: violet;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

p span {
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 15px 0;
}

p img {
  height: 55px;
  padding: 0 0 20px;
}

footer {
	width: 100vw;
	height: 15vh;
	background-color: orchid;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: orchid;
}

section:first-child {
  font-size: 80px;
	order: 1;
}

section:nth-child(2) {
  justify-content: space-around;
  align-items: center;
	order: 3;
}

section:nth-child(2) a {
	color: black;
  text-decoration: none;
}

section:last-child {
order: 2;
}
